
.overlay{
  position:fixed;
   background:url(images/mast4.jpg),linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5));
   background-blend-mode: overlay;
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-size: cover;
}
.overlay1{
  position:fixed;
   background:url(images/44663.jpg),linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5));
   background-blend-mode: overlay;
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
 height:100%;
 background-size: cover;
}


.overlay2{
  position:fixed;
   background:url(images/Our-background.jpg),linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5));
   background-blend-mode: overlay;
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-size: cover;
}



h1{
  text-align:center;
  color:#FFF !important;
  margin-top:10%;
  font:60px Lobster;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.overlay p{
  color:#FFF;
  text-align:center;
  font:15px Lobster;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.latest-job h1{
  text-align:center;
  color:#232121 !important;
  margin-top:10%;
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}


.btn-wrap{
  margin:0 auto;
  width:200px;
  padding-top:50px;
}

.btn-wrap a{
  background:rgb(240, 102, 22);
  color:#FFF;
  position:relative;
  margin-left: 16%;
  padding:15px;
  font-weight:900 !important;
  text-transform:uppercase;
  border-radius:5px;
  font:14px lato;
  opacity:0.8;
  letter-spacing:1px;
  text-decoration:none;
  
}

.btn-wrap a:hover{
  opacitY:1;
    color: #d6ae7e !important;
}
.btn-wrap a:active{
  top:4px;
}


a:hover, a:focus {
  color: rgb(240, 102, 22) !important;
  text-decoration: none;
}

a{
  text-decoration: none;
}



li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover, .dropdown:hover .dropbtn {
  background-color: #d66828 !important;
  
}

.page-item a:hover{
  background-color: #d66828 !important;
  color: white !important;
}

.page-item a{
  color: #d66828 !important;
}

.page-item.active .page-link{
  background-color: #d66828 !important;
  color: white !important;
  border-color: #d66828;
}

.btn-primary  {
    background-color: rgb(240, 102, 22) !important;
    border-color: rgb(240, 102, 22) !important;
}
.btn-link {
    color: rgb(240, 102, 22) !important;
}

a .test{
text-decoration:  none !important; 
color: none !important;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn-wrap-go a {
  background: rgb(240, 102, 22);
  color: #FFF;
  position: relative;
  margin-left: 10%;
  margin-bottom: 25%;
  padding: 15px;
  font-weight: 900 !important;
  text-transform: uppercase;
  border-radius: 5px;
  font: 14px lato;
  opacity: 0.8;
  letter-spacing: 1px;
  text-decoration: none;
}

.btn-wrap-go a:hover{
  color: #d6ae7e !important;
  opacity: 1;
}

